* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  main {
    width: 100%;
    padding: 20px;
  }
  
  .sidebar {
    background: #F6F6F6;;
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
  }
  .top_section {
    display: flex;
    align-items: center;
    padding: 25px 15px;
  }
  
  .logo {
    width: 100px;
    padding-right: 30px;
    padding-left: 12px;
  }
  
  .pacman{
    position: absolute;
    top: 0;
 
    transition: all 0.5s;
    padding-left:47%;
    padding-right: 50%;
    padding-top:10%;
    padding-bottom: 20%;


  }
  .logoload{
    width: 300px;
    height: 300px;
  }
  .bars {
    display: flex;
    font-size: 20px;
    /* margin-left: 70px; */
    cursor: pointer;
  }
  
  .link {
    display: flex;
    color: #fff;
    padding: 8px 27px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover {
    background: #4b4c4d;
    /* color: #000;
    transition: all 0.5s; */
  }
  
  .icon,
  .link_text {
    font-size: 16px;
    color: #424242;
   
  }
  .link_text{
    margin-top: 10px;
  }
  .sideLine {
    margin-top: 15px;
    height: 1px;
  
    border: none;
  
    background-color: rgb(63, 63, 63);
  }
  
  .sideBtn {
    background-color: #1e1f21;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 23px;
  }
